<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="eXtra Small SPA">
  <meta name="keywords" content="HTML,CSS,JS">
  <meta name="author" content="amimaro">
  <title>XS-SPA</title>
</head>

<body>
  <h1>xs-spa</h1>
  <a href="#">Home</a>
  <a href="#about">About</a>
  <div id="root"></div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>

</html>
